[submodule "cyan-next"]
	path = cyan-next
	url = https://github.com/11thdeg/cyan-next.git
[submodule "cn-dice"]
	path = cn-dice
	url = https://github.com/villetakanen/cn-dice.git
[submodule "cn-editor"]
	path = cn-editor
	url = https://github.com/villetakanen/cn-editor.git
[submodule "cn-image-display"]
	path = cn-image-display
	url = https://github.com/villetakanen/cn-image-display.git
[submodule "cn-story-clock"]
	path = cn-story-clock
	url = https://github.com/villetakanen/cn-story-clock.git
