[submodule "cyan-next"]
	path = cyan-next
	url = https://github.com/11thdeg/cyan-next.git
[submodule "cn-dice"]
	path = cn-dice
	url = https://github.com/villetakanen/cn-dice.git
[submodule "cn-editor"]
	path = cn-editor
	url = https://github.com/villetakanen/cn-editor.git
