<div class="flex flex-col justify-center align-center">
  <div>
    <button>
      <cn-icon noun="avatar" />
    </button>
    <button>Button</button>
    <button>
      <cn-icon noun="avatar" />
      <span>Button</span>
    </button>
  </div>
  <div>
    <button disabled>Disabled</button>
    <button class="text">Text</button>
    <button disabled>
      <cn-loader noun="send"></cn-loader>
      <span>Loading...</span>
    </button>
  </div>
  <div class="secondary p-2" style="width: 100%">
    <button>Secondary</button>
    <button class="text">Text</button>
    <button class="cta">
      <cn-loader noun="send"></cn-loader>
    </button>
  </div>
</div>