<cn-card title="ToC" class="column-s sticky">
  <nav>
    <ul>
      <li>
        <a href="#label">Label</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#input-text">Input (text)</a>
      </li>
  </nav>
</cn-card>