---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
const allAppComps = await getCollection("css");
const size = allAppComps.length;
---
<Layout>
  <main>
	  <div class="content-columns">
	    <section class="column-l">
        <h1>CSS</h1>

         <p>CSS classes and atomics</p>

       {allAppComps.map((comp) => (
         <p>
            <a href={`/css/${comp.id}`}>
              {comp.data.title}
            </a>
         </p>
       ))}

          <p>{size} pages.</p>
        </section>
    </div>
  </main>
</Layout>
