---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import CssIndex from "@components/css/CssIndex.astro";


---
<Layout tray>
  <main>
	  <div class="content-columns">
      <section class="column-s">
       <cn-card title="CSS" noun="design">
        <p>CSS styles, atomics and helpers.</p>
       </cn-card>
      </section>
      <CssIndex />
	    
    </div>
  </main>
  <CssIndex slot="tray" />
</Layout>
