<div class="flex">
  <div class="dark p-1 border-radius border surface">
    <h4 class="text-center">DARK</h4>
    <cn-story-clock value="1">
      <cn-tick></cn-tick>
      <cn-tick></cn-tick>
      <cn-tick></cn-tick>
    </cn-story-clock>
  </div>
  <div class="light p-1 border-radius border surface">
    <h4 class="text-center">LIGHT</h4>
    <cn-story-clock value="2">
      <cn-tick></cn-tick>
      <cn-tick></cn-tick>
      <cn-tick></cn-tick>
    </cn-story-clock>
  </div>
</div>

<br>
<hr>
<br>

<cn-story-clock value="1">
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
</cn-story-clock>

<cn-story-clock value="2">
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
</cn-story-clock>

<cn-story-clock value="3">
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
</cn-story-clock>

<cn-story-clock value="3">
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
</cn-story-clock>

<cn-story-clock value="2">
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
</cn-story-clock>

<cn-story-clock value="3">
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
</cn-story-clock>

<cn-story-clock value="7">
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
  <cn-tick></cn-tick>
</cn-story-clock>