<div class="flex">
  <div class="dark p-1 border-radius border surface">
    <h4 class="text-center">DARK</h4>
    <cn-story-clock value="1" name="Clock on dark mode">
      <cn-tick></cn-tick>
      <cn-tick></cn-tick>
      <cn-tick></cn-tick>
    </cn-story-clock>
  </div>
  <div class="light p-1 border-radius border surface">
    <h4 class="text-center">LIGHT</h4>
    <cn-story-clock value="2" name="Clock on light mode">
      <cn-tick></cn-tick>
      <cn-tick></cn-tick>
      <cn-tick></cn-tick>
    </cn-story-clock>
  </div>
  <div class="p-1 border-radius border surface">
    <p class="text-center"><code>view</code></p>
    <cn-story-clock value="2" view name="Clock without interaction">
      <cn-tick></cn-tick>
      <cn-tick></cn-tick>
      <cn-tick></cn-tick>
    </cn-story-clock>
  </div>
  <div class="p-1 border-radius border surface">
    <p class="text-center"><code>disabled</code></p>
    <cn-story-clock value="2" disabled name="Clock with disabled=true">
      <cn-tick></cn-tick>
      <cn-tick></cn-tick>
      <cn-tick></cn-tick>
    </cn-story-clock>
  </div>
</div>
