---
import Layout from '../layouts/Layout.astro';
import Intro from '@components/frontpage/Intro.md';
import Install from '@components/frontpage/Install.md';
---

<Layout>
  <main>
	<div class="content-columns">
	  <article class="column-l">
        <Intro />
      </article>
	  <article>
		<Install />
	  </article>
    </div>
  </main>
</Layout>
