---
import Install from "@components/frontpage/Install.md";
import Intro from "@components/frontpage/Intro.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
	<div class="content-columns">
	  <article class="column-l">
        <Intro />
      </article>
	  <article>
		<Install />
	  </article>
    </div>
  </main>
</Layout>
