---
import IntroMd from './Intro.md';
import { version } from '../../../cyan-next/package.json';
import { version as bookVersion } from '../../../package.json';
---
<h1>Cyan Design System</h1>

<p><strong>Release {version}</strong> – Book {bookVersion}</p>

<IntroMd />