---
import { version } from "../../../cyan-next/package.json";
import { version as bookVersion } from "../../../package.json";
import IntroMd from "./Intro.md";
---
<h1>Cyan Design System</h1>

<p><strong>Release {version}</strong> – Book {bookVersion}</p>

<IntroMd />