---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
const allAppComps = await getCollection("app");
const size = allAppComps.length;
---
<Layout>
  <main>
	<div class="content-columns">
	  <article class="column-l">
       <h1>App</h1>

       <p>These native and web components are used to create the look and feel of the Application.</p>

       {allAppComps.map((comp) => (
         <p>
            <a href={`/app/${comp.id}`}>
              <cn-icon small noun={comp.data.icon}></cn-icon>
              {comp.data.title}
            </a>
         </p>
       ))}

        <p>{size} pages.</p>
      </article>
    </div>
  </main>
</Layout>
