---
import Rail from "src/components/base/Rail.astro";
import BaseHead from "../components/base/BaseHead.astro";

const { title: propTitle } = Astro.props;
const title = propTitle || "Cyan Design System";
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} />
  <body>
    <Rail />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
